@model DBChecked.ViewModels.SetSqlQueryViewModel

<form asp-action="SetSqlQuery" autocomplete="on">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@this.Model.Form.ConnectionsString" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="@this.Model.Form.Connection" class="control-label">База данных</label>
            <select asp-for="@this.Model.Form.Connection" class="form-control" asp-items="@(new SelectList(this.Model.ConnectionList, "Value", "Text"))"></select>
            <span asp-validation-for="@this.Model.Form.Connection" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="@this.Model.Form.Query" class="control-label">Запрос</label>
            <textarea asp-for="@this.Model.Form.Query" class="form-control" rows="3"></textarea>
            <span asp-validation-for="@this.Model.Form.Query" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row input-btn-group">
        <div class="form-group submit-btn">
            <input type="submit" value="Исполнить" class="btn btn-primary-submit">
        </div>
    </div>
</form>

@if (this.Model.ErrorMessage != null)
{
    <div class="text-center alert-danger">
        <h2 class="display-4">Ошибка</h2>
        <p>@this.Model.ErrorMessage</p>
    </div>
}
@if (this.Model.Result != null && this.Model.Result.Any())
{
    var dynamics = this.Model.Result;

    <div class="table-wrapper">
        <table class="table table-standart">
            <thead>
                <tr>
                    @for (int i = 0; i < dynamics.Count; i++)
                    {
                        <th>
                            @dynamics[i][0]
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < dynamics.Count; i++)
                {
                    <tr>
                        @for (int j = 0; j < dynamics[1][i].Count; j++)
                        {
                            <td>
                                @dynamics[i][1][j]
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
