@model DBChecked.ViewModels.SetSqlQueryViewModel

<form asp-action="SetSqlQuery" autocomplete="on">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="@this.Model.Form.Connection" class="control-label">База данных</label>
            <select asp-for="@this.Model.Form.Connection" class="form-control" asp-items="@(new SelectList(this.Model.ConnectionList, "Value", "Text"))"></select>
            <span asp-validation-for="@this.Model.Form.Connection" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@this.Model.Form.Query" class="control-label">Запрос</label>
            <textarea asp-for="@this.Model.Form.Query" class="form-control" rows="3"></textarea>
            <span asp-validation-for="@this.Model.Form.Query" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row input-btn-group">
        <div class="form-group submit-btn">
            <input type="submit" value="Сохранить" class="btn btn-primary-submit">
        </div>
    </div>
</form>